@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');

/*
font-family: "Josefin Sans", sans-serif;
font-family: "Anton", system-ui;
font-family: "Roboto Slab", system-ui;

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Roboto Slab", system-ui;
    background-color: #fff1bb;
}
.logo img{

    max-width: 200px;
    height: auto;
    margin-left: 1px;
    
}

img{
    max-width: 100%;
  

}

.contenido{
    max-width: 100%;
    margin: 0 auto;
}

.encabezado-1{
    background-color: #ffde59;
    display: flex;
    align-items: center;
    min-height: 70vh;
    padding: 100px 0;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.menu .encabezado ul li{
    position: relative;
    float: left;
}

.menu .encabezado ul li a{
    font-size: 25px;
    padding: 20px;
    color: rgb(255, 255, 255);
    display: block;
    font-weight: 600;
    border-radius: 5%;
    font-family: "Josefin Sans", sans-serif;
    background-color: #ff0000;
    justify-content: space-between;
    position: relative;
    float: left;
   
    
    

}
.menu .encabezado ul li a:hover{
    -moz-transform:rotate(-5deg);
     -moz-box-shadow:10px 10px 20px #f5f5f5;
    -webkit-transform: rotate(-5deg);
   -webkit-box-shadow:10px 10px 20px#5b2206; 
     box-shadow: 20px 10px 20px #5b2206;
   margin-left: 10px;
}


#menu{
    display: none;
}

.menu-icono{
    width: 25px;

}

.menu label{
    cursor: pointer;
    display: none;

}

.submenu{
    position: relative;

}

.submenu #carrito{
    display: none;

}



.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #fff1bb;
    padding: 20px;
    min-width: 400px;

}

table{
    width: 100%;
}

th, td{
    color: #000000;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
}



.borrar{
    background-color: #ffde59;
    border-radius: 50px;
    padding: 5px 10px;
    color: black;
    font-weight: 800;
    cursor: pointer;

}

.pie-total{
   font-size: 40px;
   font-family: "Josefin Sans", sans-serif;

}

.encabezado-contenido{
    display: flex;
    margin-left: 100px;
    margin-bottom: -100px

   

}

.encabezado-txt{
    flex-basis: 50%;
    

}

.encabezado-txt h1{
    font-size: 100px;
    line-height: 1;
    color: black;
    margin-top: 100px;
    margin-bottom: 25px;
    font-family: "Roboto Slab", system-ui;

}

p{
    font-size: 23px;
    color: rgb(36, 34, 34);
    margin-bottom: 50px;


}

.encabezado-img{
    flex-basis: 50%;
    text-align: center;
    margin-left: -400px;
    margin-right: 100px;
    margin-top: 100px;
}

.productos-contenido{
    padding: 0 0 100px 0;
    text-align: center;

}

.centro-txt-de-productos{
    padding: 0 0 100px 0;
    text-align: center;
    

}

.centro-txt-de-productos h2{
    font-size: 60px;
    color: #5b2206;


}

.producto-contenido{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.producto {
    width: 320px;
    margin: 20px;
   border-radius: 6px;
   overflow: hidden;
   background-color: #ffde59;
  box-shadow: 0px 1px 10px #000;
  cursor: default;
  transition: all 400ms ease;
}

.producto:hover{
    box-shadow: 5px 5px 20px #000;
    transform: translateY(-3%);
}

.btn-2{
    display: inline-block;
    padding: 12px 25px;
    color: #ffde59;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #1111;
    transition: all .42s ease;
    background-color: #000;
 
}

.btn-2:hover{
    background-color: #fff1bb;
    color: #000;
}
.pie{
    background-color: #ffde59;
    padding: 80px 0;
    margin-top: -10px;

}
.pie-row{
    display: flex;
    flex-wrap: wrap;
}

.pie-links{
    width: 25%;
    padding: 0 15px;
}

.pie-links h4{

    font-size: 20px;
    color: #ff0000;
    margin-bottom: 25px;
    border-bottom: 2px solid#fff;
    display: inline-block;
    padding-bottom: 10px;
    font-family: "Josefin Sans", sans-serif;

}

.pie-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    display: block;
    margin-bottom: 15px;
    transition: all .3 ease;
    font-family:"Josefin Sans", sans-serif ;
}
.pie-links ul li a:hover{
    padding-left: 6px;
    color: #ff0000;
    font-family:"Josefin Sans", sans-serif;

}

.pie-copyrights h1{
    font-size: 12px;
    text-align: left;
    
}
















